$border-color: rgba(52, 133, 192, 0.25);
$primary-color: #3485c0;
.chart-card {
  .chart-head {
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    .current-chart-name {
      background: #3485c0;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      padding: 3px 10px;
      cursor: pointer;
    }
    .chart-time-interval-selector {
      display: flex;
      flex: 1;
      padding: 0 30px;
      .chart-interval-item {
        color: #3485c0;
        font-weight: 600;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        cursor: pointer;
        &.active {
          background: #3485c0;
          color: white;
          font-weight: bold;
        }
      }
    }
    .add-btn {
      border: 1px solid rgba(52, 133, 192, 0.25);
      border-radius: 2px;
      font-size: 12px;
      color: #3485c0;
      padding: 3px 10px;
      cursor: pointer;
      .fas {
        margin-right: 10px;
      }
    }
  }
}

:root {
  --dColor: black;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: var(--dColor) !important;
}

.ant-tabs-ink-bar {
  background: var(--dColor) !important;
}

.chart-card .ant-select-selection-item {
  color: var(--dColor) !important;
  margin-top: -3px !important;
}

.coinModalCls {
  /* width: 25vw !important;
height: 26vh !important; */

  position: absolute !important;
  left: 20px;
  top: 72px;
  z-index: 99 !important;
  background-color: white;
  /* transform: translate(-50%,-50%); */
  /* padding: 50%; */
  /* border: 1px solid black; */
}

.coinModalCls .table-responsive {
  height: 120px;
  overflow-y: scroll;
}

@media only screen and (min-width: 1800px) {
  .coinModalCls .table-responsive {
    height: 236px;
    overflow-y: scroll;
  }
}
