.gx-page1-one {
  background-color: white;
  padding: 24px 24px 0 24px !important;
  .gx-p1-img {
    position: absolute !important;
    height: 48px !important;
    width: 240px !important;
    font-weight: bold !important;
    float: left !important;
  }
  .gx-p1-input {
    float: right;
    width: 50%;
  }
}
.gx-flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ant-tabs-nav-list {
  .ant-tabs-tab:first-child {
    margin-left: 0px !important;
  }
  .ant-tabs-ink-bar {
    width: 62px !important;
  }
}
.gx-ledger {
  .ant-tabs-nav-list {
    .ant-tabs-tab-active:first-child {
      margin-left: 0px !important;
    }
    .ant-tabs-ink-bar {
      width: 48px !important;
    }
  }
}
.gx-page1-two {
  padding: 0 24px 24px 24px !important;
}
.gx-page1-coins {
  height: 72px;
  border: 0.25px solid #e7e7e7 !important;
  margin-top: 10px;
  .d-flex {
    margin-top: 18px !important;
    margin-right: 2vw;
    .gx-p1-three-img {
      width: 30px !important;
      height: 30px !important;
      margin-left: 2.5vw !important;
    }
    .gx-page1-three-span1 {
      width: 240px !important;
      margin-left: 1.5vw !important;
      color: #454545 !important;
    }
    .gx-page1-three-span2 {
      width: 200px !important;
      margin-left: 1vw !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .gx-page1-tsi {
        img {
          width: 12px !important;
          height: 12px !important;
        }
      }

      .gx-page1-three-s1 {
        color: #454545 !important;
        font-weight: 00 !important;
      }
      .gx-page1-three-s2 {
        font-weight: 800 !important;
        color: #454545;
        text-align: left;
      }
    }
    .gx-page1-md-1 {
      .gx-page1-md-1-btn {
        background-color: white !important;
        height: 34px !important;
        margin-left: 8vw !important;
      }
    }
    .gx-page1-md-2 {
      .gx-page1-md-2-btn {
        background-color: white;
        color: white;
        height: 34px !important;
        margin-left: 4vw !important;
      }
    }
    .gx-page1-md-3 {
      .gx-page1-md-3-btn {
        background-color: white !important;
        height: 34px !important;
        margin-left: 3.25vw !important;
      }
    }
  }
}
