$card-color: white;
$border-color: rgba(52, 133, 192, 0.25);
$font-color: #3485c0;
.ant-modal-wrap {
  z-index: 1100 !important;
}
.chart-card
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #3485c0;
  color: white;
  height: 25px !important;
  border: none !important;
}

// .chart-card .ant-select-selection-item {
//   margin-top: -3px !important;
//   color: black;
// }
.ant-select-arrow {
  color: white;
}
.modal-backdrop {
  opacity: 0.75 !important;
}

.apexcharts-gridlines-horizontal {
  display: none !important;
}

.home-page {
  background-color: white;
  button {
    outline: none !important;
  }
  .card-dark {
    background-color: $card-color !important;
    border: 1px solid $border-color;
    min-height: 260px;
    .opt-tab {
      color: $font-color;
      text-align: center;
      border-bottom: 1px solid $border-color;
      .tab-itm {
        position: relative;
        cursor: pointer;
        font-weight: lighter;
        &.active {
          font-weight: bolder;
          &::after {
            content: '';
            bottom: -2px;
            left: calc(50% - 8px);
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $card-color;
          }
          &::before {
            content: '';
            bottom: -2px;
            left: calc(50% - 10px);
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $border-color;
          }
        }
      }
    }
    .more {
      cursor: pointer;
      border-top: 1px solid $border-color;
      color: $font-color;
      font-size: 16px;
      margin: 0;
    }
    .tab-view-scroll {
      height: 0;
      overflow-y: auto;
    }
  }

  .card-pulse-market {
    .market-tab-view {
      .market-itm {
        border-bottom: 1px solid $border-color;
        .news-icon {
          height: 100px !important;
          width: 130px !important;
          object-fit: cover;
        }
        h3 {
          color: $font-color;
          font-weight: bold;
          font-size: 14px;
        }
        p {
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #9b9b9b;
          a {
            color: #cacbd7;
            font-weight: bold;
          }
        }
        h6 {
          font-weight: normal;
          font-size: 13px;
          line-height: 17px;
          color: #8d8e9b;
        }
      }
      h5 {
        border-top: 1px solid $border-color;
        color: $font-color;
        font-size: 16px;
        margin: 0;
      }
    }
  }
  .card-funds {
    .myfunds-tab-view {
      .tab-btn {
        padding: 8px 0;
        .tab-btn-itm {
          color: #8d8e9b;
          padding: 4px 8px 4px 8px;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background: #47465480;
            color: white;
          }
          &.active {
            background: $font-color;
            color: white;
          }
        }
      }
      .fund-list {
        .fund-list-item {
          height: 60px;
          display: flex;
          h5 {
            color: $font-color;
            margin-top: auto;
            margin-bottom: auto;
            line-height: 1;
            &.link {
              cursor: pointer;
            }
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 15px;
          }
        }
        .fund-list-item:nth-child(odd) {
          background: #cacbd7;
        }
      }
    }
  }
  .live-trade-card {
    .tabview-live-trades {
      .trade-list-head {
        background: $font-color;
        font-size: 12px;
        color: white;
      }
      .trade-list {
        .live-trades-item {
          min-height: 155px;
          background: #353540;
          h2 {
            color: white;
            font-weight: bolder;
            text-align: center;
          }
          .fund-list-item {
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 13px;
            text-align: center;
            h6 {
              font-size: 13px;
              line-height: 23px;
              color: white;
            }
            p {
              font-size: 10px;
              padding: 0;
            }
          }
          .lds-default {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;

            div {
              position: absolute;
              width: 6px;
              height: 6px;
              background: #fff;
              border-radius: 50%;
              animation: lds-default 1.2s linear infinite;

              &:nth-child(1) {
                animation-delay: 0s;
                top: 37px;
                left: 66px;
              }

              &:nth-child(2) {
                animation-delay: -0.1s;
                top: 22px;
                left: 62px;
              }

              &:nth-child(3) {
                animation-delay: -0.2s;
                top: 11px;
                left: 52px;
              }

              &:nth-child(4) {
                animation-delay: -0.3s;
                top: 7px;
                left: 37px;
              }

              &:nth-child(5) {
                animation-delay: -0.4s;
                top: 11px;
                left: 22px;
              }

              &:nth-child(6) {
                animation-delay: -0.5s;
                top: 22px;
                left: 11px;
              }

              &:nth-child(7) {
                animation-delay: -0.6s;
                top: 37px;
                left: 7px;
              }

              &:nth-child(8) {
                animation-delay: -0.7s;
                top: 52px;
                left: 11px;
              }

              &:nth-child(9) {
                animation-delay: -0.8s;
                top: 62px;
                left: 22px;
              }

              &:nth-child(10) {
                animation-delay: -0.9s;
                top: 66px;
                left: 37px;
              }

              &:nth-child(11) {
                animation-delay: -1s;
                top: 62px;
                left: 52px;
              }

              &:nth-child(12) {
                animation-delay: -1.1s;
                top: 52px;
                left: 62px;
              }
            }
          }

          @keyframes lds-default {
            0%,
            20%,
            80%,
            100% {
              transform: scale(1);
            }

            50% {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }

  .order-book-card {
    .opt-tab {
      .tab-itm {
        padding: 0;
        font-size: 0.9rem;
        padding-top: 12px;
        padding-bottom: 6px;
      }
    }
    .order-book-list {
      .inner-ob {
        .order-list-itm {
          padding: 0px 10px !important;
          width: 100%;
          .tab-itm {
            width: 33.33%;
            font-size: 0.85vw;
            // padding: 0px 5px !important;
          }
        }
      }
      h4 {
        font-size: 1.3vw;
        color: white;
        background: $font-color;
      }
    }
  }
  @media only screen and (max-width: #{1450px}) {
    .opt-tab {
      .tab-itm {
        font-size: 0.6rem;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
      }
    }
    .chart-card {
      .chart-head {
        .input-dropdown {
          .btn-dropdown {
            font-size: 10px;
            width: 20px;
            height: 20px;
          }
          img {
            height: 20px;
          }
          .icon {
            font-size: 10px;
            color: #8d8e9b;
          }
          .drop {
            font-size: 10px;
          }
        }
      }
    }
    .order-book-card {
      .col-3 {
        padding-left: 4px;
        padding-right: 4px;
      }
      .opt-tab {
        .tab-itm {
          font-size: 0.8rem;
          margin-top: 9px;
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
      .order-book-list {
        font-size: 0.5rem;

        h4 {
          font-size: 0.75rem;
        }
      }
    }
    .live-trade-card {
      .tabview-live-trades {
        .trade-list-head {
          font-size: 9px;
        }
        .trade-list {
          .live-trades-item {
            h2 {
              font-size: 20px;
            }
            .fund-list-item {
              font-size: 9px;
              h6 {
                font-size: 9px;
              }
              p {
                font-size: 7px;
              }
            }
          }
        }
      }
    }
    .card-pulse-market {
      .market-tab-view {
        .market-itm {
          .news-icon {
            height: 55px !important;
            width: 72px !important;
          }
          h3 {
            font-size: 11px;
          }
          p {
            font-size: 9px;
            line-height: 10px;
          }
          h6 {
            font-size: 8px;
            line-height: 9px;
          }
        }
        h5 {
          font-size: 12px;
        }
      }
    }
    .card-funds {
      .myfunds-tab-view {
        .tab-btn {
          padding: 4px 0;
          .tab-btn-itm {
            padding: 2px 4px;
            font-size: 11px;
          }
        }
        .fund-list {
          .fund-list-item {
            height: 40px;
            img {
              width: 22px;
            }
            h5 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width : #{1600px}) {
    .order-book-card {
      .order-book-list {
        .inner-ob {
          .order-list-itm {
            padding: 0px 10px !important;
            width: 100%;
            .tab-itm {
              width: 33.33%;
              font-size: 14px;
              // padding: 0px 5px !important;
            }
          }
        }
        h4 {
          font-size: 14px;
          color: white;
          background: $font-color;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.733);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}

.chart-card
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #3485c0;
  color: white;
  height: 25px !important;
  border: none !important;
}

.loader-spin {
  .percent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    h2 {
      font-size: 3rem;
      color: #787885;
      margin: auto;
    }
  }
}
