.gx-login-one {
  font-size: 40px;
  font-weight: bold;
}
.gx-image-reg {
  border-radius: 50% !important;
  width: 160px;
  height: 160px;
  margin-top: 24px !important;
}
.gx-reg-m {
  margin-top: 64px !important;
  width: 80% !important;
}
.gx-email-box {
  font-weight: bold;
  font-size: 12px;
  color: red;
}
.gx-l-username {
  font-weight: bold;
  font-size: 12px;
  opacity: 0.3;
}
.gx-l-pos {
  position: absolute !important;
  right: 8px !important;
}
.newlogin1 .modal-content {
  width: 60vw !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15%;
  border: none;
}
.t_signup1 {
  width: 85vw !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15%;
  border: none;
}
.newlogin2 .modal-content {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50%;
  border: none;
}

div.fade.in.modal {
  display: flex !important;
}

.modal-dialog {
  margin: auto;
}

@media only screen and (min-width: 1800px) {
  /* .lottieAnimation{
    margin-top: 16vh !important;
  } */
  .newVaultDesign {
    padding: 64px;
  }
  .newVaultDesign1 {
    padding-top: 96px;
  }
  .newVaultDesign2 {
    margin-right: 5vw;
    margin-bottom: 3vw;
  }
}
