.animate__animated.animate__heartBeat {
  --animate-duration: 4s;
}
.borderE {
  box-shadow: 0px 0px 4px -2px;
  padding: 24px;
}
.navbar {
  border: 1px solid #ebebeb;
  height: 10vh;
  padding: 10px 30px !important;
}
.inner-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 54px;
    padding: 8px;
  }
}
.create {
  max-width: 320px !important;
  height: 32px !important;
  margin-top: 18% !important;
  margin-bottom: 18% !important;
}

.carouselCards {
  width: 100%;
}
.carouselCards:hover {
  opacity: 1 !important;
}
.mainInput:focus {
  box-shadow: none !important;
}
.slide {
  width: 33.33% !important;
}
.slider-wrapper {
  height: 100% !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mainImg {
  /* width: 40vw !important; */
  height: auto !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container {
  padding: 40px;
  background: #419be0;
}
.mainStats {
  height: 42vh;
  margin: 0px;
  text-align: center;
  align-items: center;
  div {
    p {
      font-weight: 800;
      padding-top: 10px;
    }
  }
}
.c-white {
}
.slick-slide img {
  margin: auto;
}
.blackmiddle {
  height: 7vh !important;
  text-align: center;
  position: relative;
  z-index: 999;
  // margin-top: -3.5vh;
  /* z-index: 999 !important; */
  .row {
    margin: 0px;
    height: 100%;
    display: flex;
    width: 100%;
    div {
      text-align: center;
      color: white;
      align-self: center;
    }
  }
}
.h_100 {
  height: 25px !important;
}
.w-33 {
  width: 33.33%;
}
.carousel-root {
  height: 41vh !important;
  display: flex;
  flex-direction: column;
  .carousel {
    height: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .create {
    max-width: 320px !important;
    height: 32px !important;
    margin-top: 16% !important;
    margin-bottom: 16% !important;
  }
  .slider-wrapper {
    // height: 48vh !important;
    // margin-top: 8vh !important;
  }
  .blackmiddle {
    // margin-top: -22vh !important;
  }
  .mainStats {
  }
  //   margin-top: 16vh !important;
  // } //
  .terminalOsLink {
    margin-top: 1.7vh !important;
  }
  /* .middleSelect{
        padding-left: 14.2vw !important;
      } */
  .rightWrong {
    bottom: 3.8vh !important;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  .slider-wrapper {
    // /* height: 46vh !important; */
    // margin-top: 12vh !important;
  }
  .carousel-root {
  }
  .blackmiddle {
    // margin-top: -12vh !important;
  }
  /* .middleSelect{
        padding-left: 13.8vw !important;
      } */
  .terminalOsLink {
    margin-top: 1.4vh !important;
  }
  .rightWrong {
    bottom: 3.2vh !important;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1400px) {
  .mainStats {
    height: 49vh !important;
    // /* height: 46vh !important; */
    // margin-top: 12vh !important;
  }
  .carousel-root {
    height: 35vh !important;
  }
  .blackmiddle {
    // margin-top: -12vh !important;
  }
  .animated {
    height: 70%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 850px) {
  .mainStats {
    height: 49vh !important;
    // /* height: 46vh !important; */
    // margin-top: 12vh !important;
  }
  .carousel-root {
    height: 30vh !important;
  }
  .blackmiddle {
    // margin-top: -12vh !important;
  }
  .animated {
    height: 60%;
  }
}
.chartTop .ant-select-selector {
  background-color: white !important;
  color: #292929 !important;
}
.select-box-mobile {
  height: 44px;
  .ant-select-selector {
    height: 44px !important;
    .ant-select-selection-search {
      input {
        height: 44px !important;
      }
    }
    .ant-select-selection-placeholder {
      height: 44px;
      display: flex;
      align-items: center;
    }
  }
}
.ant-tabs-nav-wrap {
  padding: 28px 28px 0px 0px !important;
}
.ant-tabs-tabpane ant-tabs-tabpane-active {
  padding: 28px !important;
}
.ant-tabs-tab {
  width: 25% !important;
}
button {
  background-color: transparent;
}
@media only screen and (min-width: 1700px) {
  .ant-tabs-tab {
    width: 40% !important;
  }
}
@media only screen and (min-width: 600px) {
  .gx-mobileRes2 {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .gx-mobileRes {
    display: none !important;
  }
  .gx-mobileRes2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #292929 !important;
    width: 80%;
    align-items: center;
    .gx-mobileRes-inner {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .gx-terminal-logo {
        height: 150px;
      }
    }
    .gx-mobileRes-inner-2 {
      .gx-back-button {
        border: 1px solid grey;
        padding: 6px 12px;
      }
      .gx-100 {
        display: flex;
        input {
          border: 1px solid grey;
          height: 100%;
          padding: 12px 12px;
          outline: none;
          box-shadow: none;
        }
        button {
          border: 1px solid grey;
          border-left: none;
          height: 100%;
          padding: 6px 12px;
          img {
            margin-right: 0 !important;
          }
        }
      }
      .gx-terminal-logo {
        height: 120px;
      }
      .gx-mb-buttons {
        display: flex;
        justify-content: space-between;
        button {
          padding: 10px 12px;
          img {
            height: 20px !important;
          }
        }
      }
    }
  }
  .mobileBtn {
    width: 240px;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #292929;
    border: 1px solid #292929 !important;
    height: 48px !important;
    color: #292929 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    text-align: center !important;
    line-height: 16px !important;
    border-radius: 5px !important;
  }
}
