@import 'chart-icon-font';
@import 'navicon-font';
@import 'navbar';
@import 'home';
@import 'menu-layout';
@import 'deposit-modal';
@import 'leaderboard-drawer';
@import 'loader';
@import 'coins-sidebar';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'order-creation';
@import 'trading-details';
@import 'charts';

$trans-time: 300ms;
$width: 500px;

body {
  font-family: 'Montserrat', sans-serif !important;
}
.table-responsive {
  height: 320px;
  overflow-y: scroll;
}

thead tr:nth-child(1) th {
  background: white !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 99 !important;
}
.modal-container-ham .modal-content {
  min-width: 40vw !important ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-container-vault .modal-content {
  min-width: 60vw !important ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-container .modal-content {
  width: 70vw !important ;
  height: 70vh !important;
  padding: 0px !important;
}

.card {
  border-radius: 0;
}
.div-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.span-font {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
.div-center-lott {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-40%, -45%);
}
.gx-blue {
  color: #3485c0;
}
.gx-black {
  color: #292929;
}
.app_btn {
  width: 200px;
  font-weight: 800;
  color: #292929;
  border: 1px solid #292929;
}
.cust-input {
  width: 360px;
  border: 0px !important;
  border-bottom: 1px solid #3485c0 !important;
}
.cust-input:hover {
  border: 0px !important;
  border-bottom: 1px solid #3485c0 !important;
}
.cust-input:active {
  border: 0px !important;
  border-bottom: 1px solid #3485c0 !important;
}
.cust-input:focus {
  border: 0px !important;
  border-bottom: 1px solid #3485c0 !important;
}
.cust_btn {
  background: #3485c0;
  border: 1px solid #3485c0;
  color: white;
  font-weight: 600;
  width: 360px;
  height: 36px;
}
.cust_btn:focus {
  border: 1px solid #3485c0 !important;
}
.text-black {
  color: black;
  font-weight: bold;
  // margin-top: 24px;
}

.page-wrapper {
  background-color: white;
  // color: #ffffff;
  height: 100vh;
  .token-logo {
    width: 30vh;
  }
  .token-title {
    text-transform: uppercase;
    color: #3485c0;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 8px;
    font-size: 10vh;
    margin-bottom: 1vh;
    i {
      font-size: 8vh;
    }
  }
  .token-sub-title {
    text-transform: uppercase;
    color: #3485c0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 5vh;
  }
  .action-button {
    background: #3485c0;
    color: #ffffff;
    transition: all 200ms ease;
    &:hover {
      transform: translateY(-5px);
    }
  }
  .gx-icon {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .login-form {
    .group {
      position: relative;
      margin: 40px 0;
    }
    input,
    button {
      width: $width;
      @media only screen and (max-width: #{768px}) {
        width: 100%;
      }
    }
    input[type='password'],
    input[type='text'] {
      background: none;
      color: #3485c0;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #3485c0;
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: #3485c0;
      }
      &:focus ~ .bar:before {
        width: $width;
      }
    }

    input[type='password'] {
      letter-spacing: 0.3em;
    }

    label {
      color: #3485c0;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: $trans-time ease all;
    }
    .login-btn {
      border: 3px solid #3485c0;
      color: #3485c0;
    }
  }
}
.opt-layout {
  height: 100vh;
  width: 100%;
  @media only screen and (max-width: #{992px}) {
    height: unset;
  }
}

@media only screen and (min-width: #{2800px}) {
  .chartDiv {
    height: 200px;
  }
}

@media only screen and (min-width: #{1800px}) {
  .chartDiv {
    height: 400px;
  }
  .table-responsive {
    height: 412px;
    overflow-y: scroll;
  }
}
