@import '_mixin';
$disabled-color: #4a4a56;
$brd-color: rgba(52, 133, 192, 0.25);
$font-color: #3485c0;

.opt-top-nav {
  background: white;
  border-bottom: 1px solid $brd-color;
  border-top: 1px solid $brd-color;
  box-sizing: border-box;
  height: 70px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i {
    color: $font-color;
    margin: 0;
    line-height: 1.1;
  }
  .brand {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    cursor: pointer;
    min-width: 70px;
    border-right: 1px solid $brd-color;
    padding-right: 1rem;
    // padding-left: 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
      // font-weight: normal;
    }
    svg {
      height: 40px;
      width: 40px;
      margin: 0 10px;
    }
    .nav-title {
      margin-top: auto;
      margin-bottom: auto;
      h2,
      h3 {
        font-weight: bolder;
      }
      h2 {
        font-size: 22px;
        letter-spacing: 4px;
      }
      h3 {
        font-size: 13px;
        letter-spacing: 2px;
      }
    }
    &.inactive {
      padding-right: 0 !important;
      padding-left: 0 !important;
      .logo {
        .colr {
          fill: $disabled-color;
        }
      }
      h2,
      h3 {
        display: none;
        color: $disabled-color;
      }
    }
  }
  .add-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    font-size: 40px;
    font-weight: lighter;
    background-color: $font-color;
    color: white;
  }
  .search-terminal {
    flex-grow: 1;
    position: relative;
    input {
      height: 100%;
      flex-grow: 1;
      font-weight: lighter;
      opacity: 1;
      &::placeholder {
        color: white;
        font-weight: lighter;
        opacity: 0.75;
        font-size: 16px;
      }
    }
    input,
    label {
      padding-left: 24px;
      outline: none !important;
      background: none;
      border: none;
      color: $font-color;
      font-size: 20px;
    }
    .suggestions-list {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 10;
      border-left: 1px solid $brd-color;
      border-right: 1px solid $brd-color;
      .suggestion-item {
        svg {
          margin-right: 20px;
          width: 30px;
          width: 30px;
        }
        padding: 10px;
        border-bottom: 1px solid $brd-color;
        color: $font-color;
      }
    }
  }
  .live-traders,
  .today-traders {
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 12px;
    }
  }
  .opt-balance {
    border-left: 1px solid $brd-color;
    cursor: pointer;
    height: 100%;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    .icon {
      margin-top: auto;
      margin-bottom: auto;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      border: 1px solid $brd-color;
    }
    .balance-amount {
      min-width: 200px;
      text-align: end;
    }
    .drop {
      width: 70px;
    }
    h3 {
      margin: 0;
      margin-right: 16px;
      font-size: 20px;
      color: $font-color;
      line-height: 1.1;
    }
    .menu-opt {
      display: none;
      margin-left: -1px;
      margin-right: -1px;
      position: absolute;
      border: solid 1px $brd-color;
      top: 0;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 1;
      .menu-itm {
        font-size: 20px;
        justify-content: space-between;
        font-weight: normal;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $font-color;
        &:nth-child(even) {
          background: #3485c0;
          color: #ffffff;
        }
      }
    }
    &:hover {
      .menu-opt {
        display: flex;
      }
    }
  }
  @include lg {
    .seprator {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  @include md {
    .brand {
      &.inactive {
        display: none !important;
      }
    }
    .seprator {
      display: none;
      // margin-left: 1rem;
      // margin-right: 1rem;
    }
    .opt-balance {
      display: none !important;
    }
    .logout {
      display: flex !important;
      margin-left: auto !important;
    }
    &.bottom {
      display: block !important;
      height: unset;
      .opt-balance {
        display: flex !important;
      }
    }
  }
}
.navApps .modal-content {
  width: 40vw !important;
  height: auto !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ctinp:focus {
  box-shadow: none !important;
}
