$primary-color: #3485c0;

.card-terminal-trades {
  .trades-tab-view {
    .tab-btn {
      padding: 8px 0;
      .tab-btn-itm {
        min-width: 25%;
        text-align: center;
        color: #8d8e9b;
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background: #47465480;
          color: white;
        }
        &.active {
          background: $font-color;
          color: white;
        }
      }
    }
    .trade-list {
      .fund-list-head {
        background: $border-color;
      }
      .fund-list-item {
        padding-top: 6px;
        padding-bottom: 6px;
        background: $card-color;
        font-size: 16px;
        text-align: left;
        h6 {
          font-size: 15px;
          line-height: 23px;
          color: white;
        }
        p {
          font-size: 12px;
        }
      }
      .fund-list-item:nth-child(odd) {
        background: #353540;
      }
    }
  }
  .tabview-call-put {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
    .input-num {
      border: 1px solid $border-color;
      border-radius: 4px;
      &.time {
        width: 48%;
      }
      .btn-num {
        background: none;
        border: none;
        border-color: $border-color !important;
        font-size: 32px;
        line-height: 1;
        text-align: center;
        width: 40px;
        height: 40px;
        color: $font-color;
      }
      .btn-max {
        background: none;
        border: 1px solid $border-color;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        width: 55px;
        height: 32px;
        margin: 8px 4px;
        color: $font-color;
        &:first-child {
          margin-left: 8px;
        }
      }
      input {
        width: 0;
        text-align: center;
        color: $font-color;
        background: none;
        flex-grow: 1;
        border: none;
        padding-left: 2rem;
        padding-right: 2rem;
        &:focus {
          border: none;
          outline: none;
        }
      }
      .profit {
        height: 40px;
        border-color: $border-color !important;
        width: 50%;
        text-align: center;
        color: $font-color;
        background: none;
        border: none;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
    .input-dropdown {
      border: 1px solid $border-color;
      border-radius: 4px;
      &.time {
        width: 48%;
      }
      .btn-dropdown {
        background: none;
        border: none;
        border-color: $border-color !important;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        width: 40px;
        height: 40px;
        color: $font-color;
      }
      .drop {
        width: 0;
        color: $font-color;
        background: none;
        flex-grow: 1;
        border: none;
        padding-left: 2rem;
        padding-right: 2rem;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
    .btn {
      width: 48%;
      h3 {
        padding: 4px;
        color: white;
        font-size: 1rem;
      }
    }
  }
}

.market-tab-wrapper {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    .label-wrapper {
      display: flex;
      justify-content: space-between;
      .label {
        color: $primary-color;
        font-weight: 600;
      }
      .controls {
        display: flex;
        .control-item {
          border: 1px solid #3485C0;
          color: $primary-color;
          font-size: 10px;
          padding: 1px 8px;
          display: flex;
          border-radius: 4px;
          align-items: center;
          margin-left: 3px;
          cursor: pointer;
          justify-content: center;
        }
      }
    }
    .input-container {
      display: flex;
      border: 1px solid #3485C0;
      margin-top: 10px;
      padding: 10px;
      border-radius: 4px;
      align-items: center;
      .input-type-switcher {
        display: flex;
        .input-type-item {
          border: 1px solid #3485C0;
          // color: $primary-color;
          font-weight: 600;
          border-radius: 4px;
          height: 20px;
          padding: 0 8px;
          display: flex;
          align-items: center;
          margin-left: 3px;
          cursor: pointer;
          justify-content: center;
          font-size: 11px;
          &.active {
            // background-color: $primary-color;
            color: white;
          }
        }
      }
      .input-filed {
        flex: 1;
        width: 0;
        text-align: end;
        color: $primary-color;
        font-weight: bold;
        border: none;
        outline: none;
        &::placeholder {
          color: $primary-color;
        }
      }
      .unit {
        padding-left: 5px;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
  .actions-container {
    display: flex;
    .action-button {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 5px 16px rgba(79, 103, 91, 0.541);
      color: white;
      font-weight: bold;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;
      .fas {
        margin-left: 10px;
      }
      &.sell {
        background: #cb4d49;
      }
      &.buy {
        background: $primary-color;
      }
    }
  }
}

@media only screen and (max-width: #{1450px}) {
  .card-terminal-trades {
    .trades-tab-view {
      .tab-btn {
        padding: 4px 0;
        .tab-btn-itm {
          padding: 2px 4px;
          font-size: 11px;
        }
      }
      .trade-list {
        height: 300px;
        .fund-list-head {
          font-size: 9px;
        }
        .fund-list-item {
          font-size: 9px;
          h6 {
            font-size: 9px;
          }
          p {
            font-size: 7px;
          }
        }
      }
    }
    .tabview-call-put {
      h6 {
        padding-top: 3px;
        font-size: 12px;
      }
      .input-num {
        .btn-num {
          font-size: 16px;
          width: 20px;
          height: 20px;
        }
        input {
          font-size: 11px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        .profit {
          font-size: 11px;
          height: 20px;
        }
      }
      .input-dropdown {
        .btn-dropdown {
          font-size: 10px;
          width: 20px;
          height: 20px;
        }
        .drop {
          font-size: 11px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          text-align: center;
        }
      }
      .btn {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
