.custmgn7 {
  margin-top: 2px !important;
}

@media only screen and (max-width: 1700px) {
  .custmgn7 {
    margin-top: -12px !important;
  }
  .market-tab-wrapper {
    padding: 4px !important;
  }
}

@media only screen and (min-width: 1800px) {
  .custmgn7 {
    margin-top: -2vh !important;
  }
}
