.trade-details {
  .tabs-header {
    display: flex;
    margin-bottom: -2px;
    // border-bottom: 1px solid rgba(52, 133, 192, 0.25);
    .tab-item {
      padding: 15px 30px 15px 42px;
      font-weight: 600;
      color: rgba(52, 134, 192, 0.75);
      cursor: pointer;
      &.active {
        font-weight: bold;
        color: #3485c0;
        border-bottom: 1px solid #3485c0;
      }
    }
  }
}
.t-head-trades {
  tr {
    th {
      width: 20%;
      padding-left: 42px;
    }
  }
}
.t-body-trades {
  width: 100%;
  tr {
    width: 100%;
    padding-left: 42px !important;
    td {
      font-family: Montserrat;
      padding: 30px 0px 20px 42px;
      font-weight: 600;
    }
  }
}

.gx-modal-fee .modal-content {
  width: 35vw !important;
  max-height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 2px;
  .top-logo {
    display: flex;
    justify-content: center;
    height: 10%;
    padding: 30px;
  }
  .bottom-logo {
    bottom: 15%;
    display: flex;
    justify-content: space-between;
    div {
      width: 50%;
      text-align: center;
      border: 0.5px solid #e7e7e7;
      padding: 15px 10px;
      img {
        height: 30px;
        padding: 2px;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.2s;
        }
      }
    }
  }
  .m-box {
    display: flex;
    flex-direction: column;
    height: 75%;
    overflow-y: scroll;
    .inner-box {
      margin: 10px 50px 20px 50px;
      padding: 10px 30px;
      margin-bottom: 25px;
      border: 1px solid #e7e7e7;
      .m-time {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e7e7e7;
        margin: 15px -30px 0px -30px;

        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: -10px;
        font-weight: 600;
        p {
          width: 90%;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          span {
            width: 50% !important;
            white-space: nowrap;
            border: none;
            padding-right: 5px;
          }
        }
        span {
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #e7e7e7;
        }
      }
      div {
        display: flex;
        justify-content: space-between;
        p {
          margin: 0px;
          padding: 10px 5px;
          font-weight: 500;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          img {
            height: 15px;
            margin-right: 5px;
          }
        }
        .m-bold {
          font-weight: 700;
          font-size: 17px;
          color: black;
          padding: 10px 5px;
        }
      }
    }
  }
}
